fastapi
uvicorn
python-multipart
torch
torchvision
transformers
sentence-transformers
faiss-cpu
langchain
langchain-community
mistralai
pillow
numpy
scikit-learn
pandas
matplotlib
opencv-python
streamlit
git+https://github.com/facebookresearch/segment-anything.git